.isotope {
  height: auto !important; }

.page-title-wrapper {
  width: 100%;
  height: 100%; }
  .page-title-wrapper span {
    text-align: center;
    background-color: #003593 !important; }
    .page-title-wrapper span .page-name {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.2em;
      font-weight: bold; }

.fileupload-buttonbar > div {
  text-align: center; }

#filters li {
  position: relative; }

.files td {
  background-color: transparent !important; }

.scheduler-form input[type=textbox] {
  width: 5%;
  text-align: center;
  margin-left: .5em; }

.label {
  padding: .2em .6em;
  font-size: 1.5em;
  line-height: 60px;
  margin-right: 5px;
  vertical-align: middle; }

.fancybox-title-float-wrap {
  position: relative !important;
  bottom: 0 !important;
  right: 0 !important; }
  .fancybox-title-float-wrap .child {
    background: none !important;
    margin-right: 0 !important;
    width: 100; }

.child div {
  border-bottom: 2px cornflowerblue solid;
  padding: 0.3em 0; }

.child > button {
  margin: 1em; }

.pictureMessage button {
  display: block;
  margin: 0 auto; }

#messageTextBox {
  margin: 0; }

.scheduledDelete .overlay-img {
  background-color: red !important; }

#thumbs li, #thumbs li img {
  max-height: 270px !important; }

@keyframes slideUp {
  from {
    top: 0px;
    opacity: 1; }
  to {
    top: -300px;
    opacity: 0; } }
a {
  color: #08C !important; }

.scheduler-form .label-2 {
  margin-left: .5em;
  font-size: 2em;
  color: white;
  font-weight: 500; }
.scheduler-form .alert-info {
  background-color: #0088cc;
  background-image: none;
  border-radius: 5px; }

.progress {
  text-align: center;
  height: 27px; }
  .progress .progress-bar {
    background-color: #08C !important; }

.negative-z {
  z-index: -100; }

.button-blue, .button-red {
  color: white; }

.button-blue:hover {
  background-color: #08C;
  color: white !important; }

.button-blue:active, .button-blue:focus {
  background-color: #004b71; }

.button-red:hover {
  background-color: rgba(224, 0, 0, 0.61); }

.settings-dialog, .confirmation-box {
  margin: 1em;
  text-align: center; }
  .settings-dialog .button, .confirmation-box .button {
    width: 60%; }
  .settings-dialog .button:not(:first-child), .confirmation-box .button:not(:first-child) {
    margin-top: 1em; }
  .settings-dialog .button + .button, .confirmation-box .button + .button {
    margin-left: 0; }

#links-wrapper {
  text-align: center; }
  #links-wrapper .link-description {
    font-size: 1.3em;
    color: white;
    margin-bottom: 1em;
    line-height: 1em;
    text-transform: uppercase; }
  #links-wrapper .links-input {
    margin-bottom: 1em; }
    #links-wrapper .links-input textarea {
      width: 90%;
      resize: vertical;
      margin-bottom: 1em; }
    #links-wrapper .links-input .button {
      width: 90%;
      padding: 0.6em; }
    #links-wrapper .links-input .button + .button {
      margin-left: 0;
      margin-top: 0.5em; }
  #links-wrapper .links-table-wrapper table {
    width: 100%; }
    #links-wrapper .links-table-wrapper table tr {
      border-bottom: 2px dashed grey; }
      #links-wrapper .links-table-wrapper table tr td {
        padding: 0.3em; }
        #links-wrapper .links-table-wrapper table tr td .button {
          padding: 8px 18px; }

.trains-wrapper table {
  width: 100%;
  text-align: center;
  color: white; }
  .trains-wrapper table thead, .trains-wrapper table tbody tr {
    border-bottom: 1px cornflowerblue solid; }
  .trains-wrapper table tbody tr:nth-child(even) {
    background-color: #444; }
  .trains-wrapper table tbody tr:hover {
    background-color: grey !important;
    cursor: pointer; }
  .trains-wrapper table tr td {
    padding: .5em; }
.trains-wrapper .train-controls .button {
  width: 100%;
  margin-bottom: 1em; }

.train-details .train-details-controls .button {
  width: 100%;
  margin-bottom: 1em; }
.train-details table {
  width: 100%;
  text-align: center;
  color: white; }
  .train-details table tr {
    border-bottom: 2px cornflowerblue dashed; }
    .train-details table tr td {
      padding: 0.4em; }

.can-remove:hover {
  background-color: rgba(224, 0, 0, 0.61);
  color: transparent;
  cursor: pointer; }

.can-remove:hover:after {
  content: "Remove?";
  color: white; }

.add-pages-wrapper {
  text-align: center; }
  .add-pages-wrapper .page-checkbox {
    display: block;
    padding: 0.3em;
    background-color: #3C3F45;
    width: 87%;
    margin: 0.4em auto;
    cursor: pointer;
    color: white; }
  .add-pages-wrapper .page-checkbox:hover {
    background-color: rgba(0, 170, 255, 0.19); }
  .add-pages-wrapper .selected-page {
    background-color: #08C; }
  .add-pages-wrapper .selected-page.page-checkbox:hover {
    background-color: #08C; }

.folders-wrapper .button {
  width: 100%;
  margin-bottom: 0.5em; }
.folders-wrapper #no-folders {
  padding: 1em; }

.folder-contents-wrapper h4, .folder-contents-wrapper h2 {
  margin: 0; }
.folder-contents-wrapper .folder-title {
  text-align: center; }
.folder-contents-wrapper .folder-contents-controls .button {
  width: 100%;
  margin: 0 0 0.4em 0; }
.folder-contents-wrapper .folder-contents-controls .accordion-inner {
  padding: 0.5em 0 0 0; }
.folder-contents-wrapper .folder-pages {
  width: 100%; }
  .folder-contents-wrapper .folder-pages .folder-page {
    border-bottom: 2px dashed cornflowerblue; }
    .folder-contents-wrapper .folder-pages .folder-page .button {
      float: right;
      margin: 0.5em 0;
      padding: 8px 18px !important; }

.accordion-heading:hover .accordion-toggle,
.accordion-heading:hover .accordion-toggle.inactive,
.accordion-heading .accordion-toggle.active {
  background-color: #004b71; }

#projects .button {
  padding-left: 0;
  padding-right: 0; }

#projects .button + .button {
  margin-left: 0; }

@media (max-width: 770px) {
  [class*="span"] {
    min-height: 0; }

  .title-page {
    margin-bottom: 0;
    padding-bottom: 0; } }
@media (max-width: 540px) {
  .scheduler-form .label, .scheduler-form input[type="textbox"] {
    font-size: 1.5em; } }
@media (max-width: 385px) {
  .scheduler-form .label, .scheduler-form input[type="textbox"] {
    font-size: 1.1em; } }
@media (max-width: 450px) {
  tr.template-download > td:nth-child(2) {
    visibility: hidden; }

  tr.template-download > td:nth-child(3) {
    display: none; }

  tr.template-download > td:last-child {
    text-align: center; } }
.error a.close:hover {
  color: #FFF !important; }

@media (max-width: 767px) {
  .fileupload-buttonbar .toggle, .files .toggle, .files .btn span {
    display: inline !important; } }
.page-activity {
  text-align: center; }
  .page-activity .accordion-inner {
    padding: 0; }
  .page-activity #photo-body {
    font-size: 1.2em; }
  .page-activity table {
    color: white;
    width: 100%; }
    .page-activity table img {
      width: 30%;
      display: block;
      margin: 1.5em auto; }
    .page-activity table tr {
      border-bottom: 2px cornflowerblue solid; }
      .page-activity table tr td {
        padding: 20px 0px; }

.train-group {
  color: white; }
  .train-group .button {
    width: 100%; }
  .train-group .admin-controls .button {
    margin-top: 0.5em; }
  .train-group ul {
    list-style: none; }
  .train-group .train-group-name h2 {
    text-align: center;
    font-weight: bold; }
  .train-group .comments {
    height: 400px;
    border: 2px inset;
    overflow: auto;
    padding: 5px; }
    .train-group .comments .username.admin {
      color: red; }
    .train-group .comments .username.member {
      color: cornflowerblue; }
  .train-group .comment-input input {
    width: 100%;
    color: black; }
  .train-group .col-sm-12:last-child, .train-group .added-pages {
    margin-top: 20px; }
  .train-group table {
    width: 100%;
    text-align: center; }
    .train-group table tr {
      border-bottom: 1px solid cornflowerblue; }
    .train-group table h4 {
      margin: 10px; }
    .train-group table td {
      padding: 10px; }
    .train-group table .button {
      padding: 8px 18px !important; }
  .train-group .people {
    text-align: center;
    max-height: 474px;
    overflow: auto; }
    .train-group .people h4 {
      margin: 10px !important; }
    .train-group .people .admins {
      font-size: 1.2em !important; }
    .train-group .people .members {
      font-size: 1.1em !important; }

.trains-error {
  text-align: center; }

.notifications {
  background-color: #08C;
  min-width: 25px;
  color: white;
  vertical-align: middle;
  text-align: center;
  border-radius: 10px;
  cursor: pointer; }

.notifications-table {
  text-align: center;
  width: 100%;
  color: white; }
  .notifications-table tr {
    border-bottom: 1px solid cornflowerblue; }
  .notifications-table tbody td {
    padding: 10px; }
  .notifications-table .button {
    padding: 8px 18px !important; }

.button.disabled {
  background: #202329;
  color: black !important;
  cursor: initial; }

.button.disabled:hover {
  color: black !important; }

/*# sourceMappingURL=logged-in.css.map */
