.profile{
	float: none;
	margin: auto;
	width: 61%;
}

.page-alternate{
	height: 100%;
	padding: 0px;
}

#about .container{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.overlay-img{
	background: #2F58A2 !important;
}