.isotope {
  height: auto !important; }

.page-title-wrapper {
  width: 100%;
  height: 100%; }
  .page-title-wrapper span {
    text-align: center;
    background-color: #003593 !important; }
    .page-title-wrapper span .page-name {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.2em;
      font-weight: bold; }

.fileupload-buttonbar > div {
  text-align: center; }

#filters li {
  position: relative; }

.files td {
  background-color: transparent !important; }

.scheduler-form input[type=textbox] {
  width: 5%;
  text-align: center;
  margin-left: .5em; }

.scheduler-form .label, .scheduler-form input[type=textbox] {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-bottom: .3em;
  vertical-align: middle; }

.scheduler-form .label {
  background-color: cornflowerblue;
  padding: .2em .6em; }

.fancybox-title-float-wrap {
  position: relative !important;
  bottom: 0 !important;
  right: 0 !important; }
  .fancybox-title-float-wrap .child {
    background: none !important;
    margin-right: 0 !important;
    width: 100; }

.child div {
  border-bottom: 2px cornflowerblue solid;
  padding: 0.3em 0; }

.child > button {
  margin: 1em; }

.pictureMessage button {
  display: block;
  margin: 0 auto; }

#messageTextBox {
  margin: 0; }

.scheduledDelete .overlay-img {
  background-color: red !important; }

#thumbs li, #thumbs li img {
  max-height: 270px !important; }

@keyframes slideUp {
  from {
    top: 0px;
    opacity: 1; }
  to {
    top: -300px;
    opacity: 0; } }
a {
  color: #08C !important; }

.scheduler-form .label-2 {
  margin-left: .5em;
  font-size: 2em;
  color: white;
  font-weight: 500; }

.progress {
  text-align: center;
  height: 27px; }
  .progress .progress-bar {
    background-color: #08C !important; }

.negative-z {
  z-index: -100; }

@media (max-width: 770px) {
  [class*="span"] {
    min-height: 0; }

  .title-page {
    margin-bottom: 0;
    padding-bottom: 0; } }
@media (max-width: 540px) {
  .scheduler-form .label, .scheduler-form input[type="textbox"] {
    font-size: 1.5em; } }
@media (max-width: 385px) {
  .scheduler-form .label, .scheduler-form input[type="textbox"] {
    font-size: 1.1em; } }
@media (max-width: 450px) {
  tr.template-download > td:nth-child(2) {
    visibility: hidden; }

  tr.template-download > td:nth-child(3) {
    display: none; }

  tr.template-download > td:last-child {
    text-align: center; } }
@media (max-width: 767px) {
  .fileupload-buttonbar .toggle, .files .toggle, .files .btn span {
    display: inline !important; } }

/*# sourceMappingURL=logged-in.css.map */
