$prettyblue: #003593;

.isotope{
    height: auto !important;
}

.page-title-wrapper{
	width: 100%;
	height: 100%;

	span{
		text-align: center;
		background-color: $prettyblue !important;
	
		.page-name{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			font-size: 1.2em;
			font-weight: bold;
		}
	}
}

.fileupload-buttonbar > div{
	text-align: center;
}

#filters li{
	position: relative;
}

.files{
	td{
		background-color: transparent !important;
	}
}

.scheduler-form input[type=textbox]{
  width: 5%;
  text-align: center;
  margin-left: .5em;
}

.label{
  padding: .2em .6em;
  font-size: 1.5em;
  line-height: 60px;
  margin-right: 5px;
  vertical-align: middle;
}

.fancybox-title-float-wrap{
	position: relative !important;
	bottom: 0 !important;
	right: 0 !important;

	.child{
		background: none !important;
		margin-right: 0 !important;
		width: 100;
	}
}

.child div{
  border-bottom: 2px cornflowerblue solid;
  padding: 0.3em 0;
}

.child>button{
  margin: 1em;
}

.pictureMessage button{
  display: block;
  margin: 0 auto;
}

#messageTextBox{
	margin: 0;
}

.scheduledDelete .overlay-img{
	background-color: red !important;
}

#thumbs li, #thumbs li img{
	max-height: 270px !important;
}

@keyframes slideUp{
	from {top: 0px; opacity: 1;}
    to {top: -300px; opacity: 0;}
}

//Make al the red stuff blue
a{
	color: #08C !important;
}

.scheduler-form{
	.label-2{
		margin-left: .5em;
		font-size: 2em;
		color: white;
		font-weight: 500;
	}

	.alert-info{
		background-color: rgb(0, 136, 204);
		background-image: none;
		border-radius: 5px;
	}
}

.progress{

	text-align: center;
	height: 27px;

	.progress-bar{
		background-color: #08C !important;
	}
}

.negative-z{
	z-index: -100;
}

.button-blue, .button-red{
	color: white;
}

.button-blue:hover{
	background-color: #08C;
	color: white !important;
}

.button-blue:active, .button-blue:focus{
	background-color: rgb(0, 75, 113);
}

.button-red:hover{
	background-color: rgba(224, 0, 0, 0.61);
}

.settings-dialog, .confirmation-box{

	margin: 1em;
	text-align: center;

	.button{
		width: 60%;
	}

	.button:not(:first-child){
		margin-top: 1em;
	}

	.button + .button{
		margin-left: 0;
	}
}

//Current Links
#links-wrapper{
	text-align: center;

	.link-description{
		font-size: 1.3em;
		color: white;
		margin-bottom: 1em;
		line-height: 1em;
		text-transform: uppercase;
	}

	.links-input{
		margin-bottom: 1em;

		textarea{
			width: 90%;
			resize: vertical;
			margin-bottom: 1em;
		}

		.button{
			width: 90%;
			padding: 0.6em;
		}

		.button+.button{
			margin-left: 0;
			margin-top: 0.5em;
		}
	}

	.links-table-wrapper{
		table{
			width: 100%;

			tr{
				border-bottom: 2px dashed grey;

				td{
					padding: 0.3em;
					
					.button{
						padding: 8px 18px;
					}
				}
			}
		}
	}
}

.trains-wrapper{
	table{
		width: 100%;
		text-align: center;
		color: white;
	
		thead, tbody tr{
			border-bottom: 1px cornflowerblue solid;
		}

		tbody tr:nth-child(even){
			background-color: #444;
		}

		tbody tr:hover{
			background-color: grey !important;
			cursor: pointer;
		}

		tr td{ padding: .5em; }
	}

	.train-controls .button{
		width: 100%;
		margin-bottom: 1em;
	}

}

.train-details{
	.train-details-controls .button{
		width: 100%;
		margin-bottom: 1em;
	}

	table{
		width: 100%;
		text-align: center;
		color: white;

		tr{
			border-bottom: 2px cornflowerblue dashed;
			td{
				padding: 0.4em;
			}
		}
	}
}

.can-remove:hover{
	background-color: rgba(224, 0, 0, 0.61);
	color: transparent;
	cursor: pointer;
}

.can-remove:hover:after{
	content: "Remove?";
	color: white;
}

.add-pages-wrapper{
	text-align: center;

	.page-checkbox{
		display: block;
		padding: 0.3em;
		background-color: #3C3F45;
		width: 87%;
		margin: 0.4em auto;
		cursor: pointer;
		color: white;
	}

	.page-checkbox:hover{
		background-color: rgba(0, 170, 255, 0.19);
	}

	.selected-page{
		background-color: #08C;
	}

	.selected-page.page-checkbox:hover{
		background-color: #08C;
	}
}

.folders-wrapper{
	.button{
		width: 100%;
		margin-bottom: 0.5em;
	}

	#no-folders{
		padding: 1em;
	}
}

.folder-contents-wrapper{
	h4, h2{
		margin: 0;
	}

	.folder-title{
		text-align: center;
	}

	.folder-contents-controls{
		.button{
			width: 100%;
			margin: 0 0 0.4em 0;
		}

		.accordion-inner{
			padding: 0.5em 0 0 0;
		}
	}

	.folder-pages{
		width: 100%;
	
		.folder-page{
			border-bottom: 2px dashed cornflowerblue;

			.button{
				float: right;
				margin: 0.5em 0;
				padding: 8px 18px !important;
			}
		}
	}
}

.accordion-heading:hover .accordion-toggle,
.accordion-heading:hover .accordion-toggle.inactive,
.accordion-heading .accordion-toggle.active{
	background-color: rgb(0, 75, 113);
}

#projects .button{
	padding-left: 0;
	padding-right: 0;
}

#projects .button+.button{
	margin-left: 0;
}
@media(max-width: 770px){
  
  [class*="span"]{
    min-height: 0;
  }
  
  .title-page{
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
}

@media(max-width: 540px){
	.scheduler-form .label, .scheduler-form input[type="textbox"]{
		font-size: 1.5em;
	}
}

@media(max-width: 385px){
	.scheduler-form .label, .scheduler-form input[type="textbox"]{
		font-size: 1.1em;
	}
}

@media(max-width: 450px){
  tr.template-download > td:nth-child(2){
    visibility: hidden;
  }

  tr.template-download > td:nth-child(3){
    display: none;
  }

  tr.template-download > td:last-child{
    text-align: center;
  }
}

.error a.close:hover{
	color: #FFF !important;
}

@media(max-width: 767px){
	.fileupload-buttonbar .toggle, .files .toggle, .files .btn span{
		display: inline !important;
	}
}

.page-activity{
	text-align: center;

	.accordion-inner{ padding: 0; }

	#photo-body{ font-size: 1.2em; }

	table{
		color: white;
		width: 100%;
	
		img{
			width: 30%;
			display: block;
			margin: 1.5em auto;
		}

		tr{
			border-bottom: 2px cornflowerblue solid;
		
			td{
				padding: 20px 0px;
			}
		}
	}
}

.train-group{
	color: white;

	.button{ width:100%; }

	.admin-controls .button{
		margin-top: 0.5em;
	}

	ul{
		list-style: none;
	}

	.train-group-name h2{ 
		text-align: center;
		font-weight: bold;
	}

	.comments{
		height: 400px;
		border: 2px inset;
		overflow: auto;
		padding: 5px;
	
		.username.admin{ color: red; }
		.username.member{ color: cornflowerblue; }
	}

	.comment-input{
		input{
			width: 100%;
			color: black;
		}
	}

	.col-sm-12:last-child, .added-pages{
		margin-top: 20px;
	}

	table{
		width: 100%;
		text-align: center;

		tr{
			border-bottom: 1px solid cornflowerblue;
		}

		h4{
			margin: 10px;
		}

		td{
			padding: 10px;
		}

		.button{
		    padding: 8px 18px !important;
		}
	}

	.people{
		text-align: center;
		max-height: 474px;
		overflow: auto;
		h4{ margin: 10px !important; }
		.admins{
			font-size: 1.2em !important;
		}
		.members{
			font-size: 1.1em !important;
		}
	}

}

.trains-error{
	text-align: center;
}

.notifications{
    background-color: #08C;
    min-width: 25px;
    color: white;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.notifications-table{
    text-align: center;
    width: 100%;
    color: white;

    tr{
	    border-bottom: 1px solid cornflowerblue;
	}

	tbody td{
	    padding: 10px;
	}

	.button{
	    padding: 8px 18px !important;
	}
}

.button.disabled{
    background: #202329;
    color: black !important;
    cursor: initial;
}

.button.disabled:hover{
    color: black !important;
}